* {
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background: linear-gradient(to right, rgb(19, 78, 94), rgb(113, 178, 128));
}
